@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Bold Italic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Light Italic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Regular Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Semibold Italic.otf');
    font-weight: 600;
    font-style: italic;
}