{% set up_dir = "../../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
{% set title = "Сборка электрощитов квартир, домов, предприятий. Энерго Пенза" %}
<meta name="Description" content="Энерго Пенза предлагает услуги по сборке электрощитов для передачи заказчику, либо монтаже на объекте. Мы подберем материалы по вашим параметрам.">
<meta name="keywords" content="Замена электросчетчика, установка счётчика электроэнергии, щита, автомата, в квартире, доме">

	{% block content %}

	<section class="content">

		<h2>Монтаж электрощитов</h2>
		<p>Электрощит является источником повышенной опасности и наиболее важной частью электроустановки. Если прокладку кабеля, монтаж розеток возможно выполнить самостоятельно, то монтаж электрического щитка стоит доверить опытному электромонтажнику. </p>
		<p>Выбор типа щита начинается от выбора места установки, это определяется в соответствии с нормативными требованиями, техническими условиями, простотой эксплуатации и обслуживания. От места установки зависит степень защиты электрощита от атмосферных и внешних воздействий. </p>
		<p>Далее выбирается тип щита по виду установки: встраиваемый, навесной, напольный. </p>
		<p>Встраиваемые щиты монтируются непосредственно в отверстие в стене или в нишу и отлично подходят для жилых помещений. Монтаж встраиваемых электрощитов сложнее, чем навесных ввиду трудоёмкости технологических работ. </p>
		<p>Навесные щиты располагаются непосредственно на стене, отлично подходят при открытой электропроводке (в кабель канале, гофре и т.п.), в особоопасных помещениях, установке на внешней стене строения или на опоре ввиду высокой степени защиты от атмосферных воздействий. </p>
		<p>Напольные щиты являются самыми большими и подходят для установки в многоквартирных домах и предприятиях. </p>
		<p>В зависимости от количества питающих и отходящих кабелей (групп), рассчитывается необходимое количество модульного оборудования для объекта (за один модуль принимается размер однополюсного автомата 17,5 -18 мм). От количества модулей используемого оборудования зависит размер электрощита, не стоит забывать о перспективах развития и простоте эксплуатации электрощита, выбирают щиток с запасом в несколько модулей. </p>
		<p>Корпуса электрощитов разделяются на: металлические, пластиковые, стеклопластиковые. </p>
		<p>Металлические щиты обладают высокой механической прочностью, они защищены от коррозии и разрушающего воздействия погодных факторов, заземление корпусов металлических щитов и дверок является обязательным. </p>
		<p>Пластиковые щиты изготовлены из специального пластика, не распространяющего горение, щиты являются диэлектрическими, и более привлекательны ввиду многочисленного цветового исполнения. </p>
		<p>Стеклопластиковые щиты выполнены из полиэфира, армированного стекловолокном, он не поддерживает горение. Главной особенностью этого электрощита является повышенная стойкость к воздействию внешней среды, срок его эксплуатации более 25 лет. Щит не нуждается в заземлении. </p>
		<p>При монтаже электрощита основой является грамотность расположения и выбор необходимого электрооборудования в соответствии с сечением отходящих кабелей, мощностью электроприборов и перспективой дальнейшего развития. </p>
		<a name="call-master"></a>
		<p>Мы готовы предоставить для вас услуги электромонтажа щита на объекте или сборки электрощита для дальнейшей передачи его заказчику. Материалы для щита подбираются в соответствии с экономическими возможностями клиента. Если, заказчик не может самостоятельно составить техническое задание для монтажа электрощита, наши специалисты готовы выехать на объект для составления сметы. </p>

	</section>

</section>

{% endblock %}