{% set up_dir = "../../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
	{% block content %}

	<section class="content">

		<h2>Технологическое присоединение</h2>
		<p>Технологическое присоединение объекта подразумевает собой процесс от получения технических условий, до сдачи электроустановки заказчику.</p>
		<h4>Технологическое присоединение осуществляется в случае, если: </h4>
		<ol>
			<li>1) Объект впервые подключается к электросетям</li>
			<li>2) Необходимо временное электроснабжение объекта, на период строительства</li>
			<li>3) Увеличивается мощность, объекта подключенного к электросетям</li>
			<li>4) Изменяется категория надежности электроснабжения объекта</li>
		</ol>
		<p>Стоит отметить, что требования для технологического присоединения объекта имеют огромную разницу, в зависимости от заявленной мощности, категории надежности, будет ли использоваться электроэнергия с коммерческой целью, располагаются объекты в черте города, или в сельской местности. </p>
		<p>Заявителю, до подачи заявки на технологическое присоединение необходимо знать необходимую мощность, категорию надежности, и класс напряжения электросетей, по которому необходимо подключить объект. Все эти данные рассчитываются в проектной документации. </p>
		<p>Грамотная система электроснабжения позволит вам наслаждаться комфортом дома, и гарантирует успешную, бесперебойную работу предприятия. </p>
		<p>Сам процесс технологического присоединения трудоёмок, и включает в себя: оформление заявлений, получение технических условий, составление проектной документации, согласование с организациями, монтаж электроустановки, лабораторные испытания, проверки готовности подключения объекта к электросетям. </p>
		<p>Для лиц, не осуществляющих коммерческую деятельность, и подключаемых по льготной ставке, этот процесс менее трудоемок, но кончено и в этой категории есть свои подводные камни. </p>
		<a name="advantages"></a>
		<p>Для получения более конкретной информации по подключению объекта, вы можете обговорить с нашими специалистами. Для заявки вам необходимо уточнить адрес, тип объекта и заявленную мощность. Мы поможем вам подключить объект к электросетям в соответствие с требованиями нормативно-правовой документации. </p>


	</section>

</section>

{% endblock %}