{% set up_dir = "../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
{% set title = "Энерго Пенза. Электромонтаж квартир, домов, предприятий" %}
	{% block content %}

		<section class="content">
			<h2>Услуги</h2>
			<p>Наша компания благодарит вас, за указанное нам внимание, и надеется на дальнейшее сотрудничество в проведении электромонтажных работ, проектированию, сборке электрощитов, обслуживанию объектов по городу Пенза и ближайших районах. </p>
			<p>Главное наше отличие – это полная организация проведения электромонтажных работ, что значительно экономит время наших клиентов. Мы самостоятельно проведем все замеры, закупим необходимые материалы, проведем согласование проведения работ, подготовительные и пусконаладочные работы, устраним выявленные недостатки.</p>
			<p>При проведении работ в сжатые сроки, срок сдачи объекта заказчику обговаривается заранее. Это удобно, как и для населения (например, замена электропроводки за один день), так и для коммерческих организаций (например, при открытии новой точки).</p>
			<p>Мы отвечаем за качественное и грамотное проведение электромонтажных работ, а индивидуальный подход к решению задач каждого клиента, помогает нам добиться положительного расположения, и сотрудничать в дальнейшем. </p>
			<p>Особые условия обговариваются, при выполнении большого объема работ. Также, мы приглашаем к сотрудничеству сетевые компании для осуществления технологического проведения, монтажа распределительных сетей, обслуживания электроустановок.</p>
			<p>Вы всегда можете бесплатно проконсультироваться о стоимости, и необходимом объеме электромонтажных работ для вашего объекта связавшись с нами:</p>
			<p class="content__footer">
				по телефону: 39-26-02 <br>
				или отправив заявку на электронную почту: <br>
				<a href="mailto:energo-penza@yandex.ru">energo-penza@yandex.ru</a>
			</p>
		</section>

{% endblock %}