<header>
	<a name="replacement"></a>
	<div class="container">
		<div class="col-xs-2">
			<a href="#">
				<img src="{{up_dir}}images/logo-top.png" alt="" class="logo-top">
			</a>
		</div>
		<div class="col-xs-7">
			<nav class="navigation">
				<ul>
					<li class="nav-item">
						<a href="{{up_dir}}">Главная</a>
						<ul class="dropping-menu">
							<li class="list-item"><a href="{{up_dir}}#services">Наши услуги</a></li>
							<li class="list-item"><a href="{{up_dir}}#prices">Цены</a></li>
							<li class="list-item"><a href="{{up_dir}}#advantages">Преимущества</a></li>
							<li class="list-item"><a href="{{up_dir}}#call-master">Вызов мастера</a></li>
							<li class="list-item"><a href="{{up_dir}}#stages-works">Этапы работ</a></li>
							<li class="list-item"><a href="{{up_dir}}#contacts">Контакты</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a name="#">Услуги</a>
						<ul class="dropping-menu">
							<li class="list-item"><a href="/services/wiring">Проводка под ключ</a></li>
							<li class="list-item"><a href="/services/measuring">Замена электросчетчика</a></li>
							<li class="list-item"><a href="/services/shield">Монтаж электрощитов</a></li>
							<li class="list-item"><a href="/services/technological-connection">Технологическое присоединение</a></li>
							<li class="list-item"><a href="/services/project">Проектирование</a></li>
						</ul>
					</li>
					<li class="nav-item"><a href="/prices">Цены</a></li>
					<li class="nav-item"><a href="/our-works">Наши работы</a></li>
					<li class="nav-item"><a href="/contacts">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-xs-3 phone-number">
			<a href="tel:+78412392602">+7 (8412) 39-26-02</a>
			<p>Вызвать электрика</p>
		</div>
	</div>
</header>
