<header>
	<a name="replacement"></a>
	<div class="container">
		<div class="col-xs-2">
			<a href="#">
				<img src="{{up_dir}}images/logo-top.png" alt="" class="logo-top">
			</a>
		</div>
		<div class="col-xs-7">
			<nav class="navigation">
				<ul>
					<li class="nav-item">
						<a href="/">Главная</a>
						<ul class="dropping-menu">
							<li class="list-item"><a href="#services">Наши услуги</a></li>
							<li class="list-item"><a href="#prices">Цены</a></li>
							<li class="list-item"><a href="#advantages">Преимущества</a></li>
							<li class="list-item"><a href="#call-master">Вызов мастера</a></li>
							<li class="list-item"><a href="">Этапы работ (ссылку)</a></li>
							<li class="list-item"><a href="">Контакты</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="/pages/services.html">Услуги</a>
						<ul class="dropping-menu">
							<li class="list-item"><a href="#services">Замена электросчетчика</a></li>
							<li class="list-item"><a href="#prices">Электроснабжение объекта</a></li>
							<li class="list-item"><a href="#advantages">Монтаж электрощитов</a></li>
							<li class="list-item"><a href="#call-master">Проводка под ключ</a></li>
							<li class="list-item"><a href="#call-master1">Проектирование</a></li>
						</ul>
					</li>
					<li class="nav-item"><a href="#">Цены</a></li>
					<li class="nav-item"><a href="">Преимущества</a></li>
					<li class="nav-item"><a href="#contacts">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-xs-3 phone-number">
			<a href="tel:+78412392602">+7 (8412) 39-26-02</a>
			<p>Вызвать электрика</p>
		</div>
	</div>
</header>
