{% set up_dir = "../../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
	{% block content %}
	<section class="content__container clearfix">
		<div class="col-xs-6" style="left: 50%; text-align: center; transform: translateX(-50%)">
			<h2>Контакты</h2>
			<p>Наш телефон: +7 (8412) 39-26-02</p>
			<p>Адрес электронной почты: energo-penza@yandex.ru </p>
			<p>Страница Вконтакте: https://vk.com/energo_penza </p>
			<p>Сайт: energo-penza.ru </p>
			<h4>Мы работаем ежедневно </h4>
			<h4>Часы работы: 9.00-18.00 </h4>
		</div>
	</section>


</section>

{% endblock %}