{% set up_dir = "../../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
{% set title = "Электропроводка квартир, домов, предприятий в Пензе. Энерго Пенза" %}
{% set description ="Энерго Пенза - замена электропроводки квартир, домов, предприятий в сжатые сроки и удобное вам время, мы сами закупим материалы! Гарантия." %}
{% set keywords ="Замена электропроводки, проводка квартир, домов, предприятий, электроснабжение, в Пензе, электромонтаж" %}

	{% block content %}

	<section class="content">
		<a name="services"></a>
		<h2>Монтаж электропроводки</h2>
		<p>Монтаж электропроводки - это услуга, при которой проводится замена или прокладка новой электропроводки на объекте. В зависимости от пожеланий клиента, возможна прокладка кабеля, без подключения к точкам (розеткам, выключателям и т.п.), либо полное электроснабжение объекта, включая подключение кабелей в электрощите и подключение электроточек (розетки, светильники и т.п.). В стоимость данной услуги входит проектирование системы электроснабжения. </p>
		<p>Срок службы современных кабелей, как заявляют производители, составляет около 30 лет, основа долголетия системы электроснабжения - условия её эксплуатации и правильность монтажа. </p>
		<h4>Основные причины замены электропроводки это: </h4>
		<ol>
			<li>1) Замена старой проводки по причине неисправности. Средний срок эксплуатации алюминиевой электропроводки составляет 15-20 лет, а медной 20-25 лет.</li>
			<li>2) Проведение электромонтажных работ в новом помещении (квартира, частный дом, предприятие). </li>
			<li>3) Изменение требований к системе электроснабжения (покупка нового оборудования, увеличение мощности, изменение места расположения электрооборудования).</li>
		</ol>
		<p>Важную роль, при прокладке электропроводки, играет план расположения электрооборудования на объекте. При составлении плана размещения оборудования необходимо учитывать такие факторы как: комфорт, безопасность и техническую возможность исполнения. В случае затруднения составления плана,  наши специалисты готовы будут вам помочь. </p>
		<p>Второе о чём стоит задуматься – это способ прокладки электропроводки: открытая или скрытая. </p>
		<p>Открытая электропроводка – проложенная по поверхности стен, потолков, и другим строительным элементам зданий, сооружений, опор и т.д. При открытой электропроводке применяются следующие способы прокладки проводов и кабелей: непосредственно по поверхности стен, потолков и т. п., на струнах, тросах, роликах, изоляторах, в трубах, коробах, гибких металлических рукавах, на лотках, в электротехнических плинтусах и наличниках, и т. п. </p>

		<p>Скрытая электропроводка – проложенная внутри конструктивных элементов зданий и сооружений и т.п. При скрытой электропроводке применяются следующие способы прокладки проводов и кабелей: в трубах, гибких металлических рукавах, коробах, замкнутых каналах и пустотах строительных конструкций, в заштукатуриваемых бороздах, под штукатуркой, а также замоноличиванием в строительные конструкции при их изготовлении. </p>
		<a name="prices"></a>
		<p>После составления плана расположения электрооборудования на объекте мы поможем вам выбрать способ прокладки проводки в соответствии с требованиями ПУЭ и вашими пожеланиями. Работы по проектированию, расчёту количества требуемых материалов, метража кабеля мы возьмём на себя. При замене проводки в помещениях с проживающими людьми, мы выполним работу за кротчайшие сроки, и с минимальным загрязнением жилого помещения. </p>

	</section>

</section>

{% endblock %}