{% set up_dir = "../../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
	{% block content %}
<!-- 	<div class="carousel">
		<div class="carousel__item">
			<img src="http://lorempixel.com/output/technics-q-c-1150-600-6.jpg">
		</div>
		<div class="carousel__item">
			<img src="http://lorempixel.com/output/technics-q-c-1150-600-5.jpg">
		</div>
		<div class="carousel__item">
			<img src="http://lorempixel.com/output/city-q-c-1150-600-1.jpg">
		</div>
	</div> -->



	<section class="content">

		<h2>Проектирование</h2>
		<p>Проект электроснабжения это основа для проведения электромонтажных работ. Он позволит выполнить монтаж в соответствии с нормативно техническими требованиями, приобрести необходимое электротехническое оборудование, кабеля. </p>
		<p>Проектировка системы электроснабжения необходима при строительстве новых сооружений, перепланировке в помещениях. Грамотный проектировщик поможет вам правильно расположить электрооборудование, чтобы повысить комфортабельность в быту и на рабочем месте. </p>
		<p>Проектирование системы электроснабжения проводится в соответствии с выданными сетевой организацией техническими условиями и техническим заданием, полученным от заказчика. Техническое задание представляет собой план помещения с нанесенным на него расположением электрооборудования, или дизайн проектом помещения. Техническое задание составляется для определения задач выполняемого проекта, также техническое задание является страховкой для заказчика, в случае возникновения разногласий при выполнении проекта. </p>
		<h4>Необходимо учитывать тип помещения среди них можно выделить: </h4>
		<ul>
			<li>- Жилые</li>
			<li>- Офисные</li>
			<li>- Производственные</li>
			<li>- Общественные</li>
		</ul>
		<h4>Содержание проекта может измениться в зависимости от пожелания заказчика и необходимости согласования с организациями. Основой проекта является: </h4>
		<ul>
			<li>- Титульный лист</li>
			<li>- Ведомость чертежей</li>
			<li>- Общие данные</li>
			<li>- Пояснительная записка</li>
			<li>- Однолинейная схема электроснабжения</li>
			<li>- План расположения электрооборудования, кабельных трасс</li>
			<li>- Система уравнивания потенциалов</li>
			<li>- Составление спецификации</li>
		</ul>
		<p>Стоит отметить, что стоимость проекта зависит от состава чертежей, который определяется в соответствии с заданием заказчика, необходимости проведения осмотра, замеров на объекте. </p>
		<p>Наши специалисты помогут вам грамотно распланировать место установки электрооборудования, спроектировать надежную систему электроснабжения с учетом перспектив развития и требований организаций. </p>
	</section>

</section>

{% endblock %}