/* ==========================================================================
Typography
========================================================================== */
html {
  font-size: 10px;
}
p {
    font-size: 1.4rem;
    line-height: 22.4px;
    color: #6c7279;
}

h1 {
	font-size: 65px;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	display: inline-block;
	border-radius: 2px;
	background-color: #E84545;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: #e52e2e;
	color: white;
}
.btn-large {
	padding: 15px 40px;
}

/* ==========================================================================
	General Styles
========================================================================== */

/*a:hover, a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; 
}*/
body {
  font: 12px/12px Arial, Helvetica, sans-serif;
}
a {
	color: #6c7279;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 0;
  padding: 0;
}
li {
  list-style: none;
}
.bold {
  font-weight: bold;
}

.section {
	padding: 100px 0;
}
.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

.color-white,
.color-white a,
.color-white p {
  color: white;
}
.uppercase .uppercase a, .uppercase p {
  text-transform: uppercase;
}

/* ==========================================================================
	$Header
========================================================================== */
.header-content {
  margin: 40px auto 13px;
}
.header-content-mob {
  display: none;
}
.logo {
  float: left;
  background: url(../images/logo.png)0 0 no-repeat;
  width: 229px;
  height: 93px;
}
.site-slogan {
  margin: 5px 0 0 10px;
}
.site-slogan p {
  font: 12px/18px 'vantgardegothicc';
  text-transform: uppercase;
  margin: 0;
  color: #4295cb;
}
.social-icons {
  margin: 14px 0 17px 6px;
}
.social-icons li {
  display: inline-block;
  width: 24px;
  height: 19px;
  background: url(../images/social_top_sprite.png) no-repeat;
  margin-right: 9px;
}
.social-icons .vk {
  background-position: 0 0;
}
.social-icons .fb {
  background-position: -32px 0;
}
.social-icons .tw {
  background-position: -63px 0;
}
.social-icons .ok {
  background-position: -131px 0;
}
.social-icons .yt {
  background-position: -163px 0;
}
.social-icons .ig {
  background: url(../images/icon_Insta.png) 0 0 no-repeat;
  margin-left: 7px;
}
.call-back-btn {
  font-size: 16px;
  font-style: italic;
  margin-left: 32px;
}
.call-back-btn:before {
  display: inline-block;
  background: url(../images/icon_phone.png) 0 0 no-repeat;
  width: 23px;
  height: 24px;
  content: '';
  position: relative;
  top: 7px;
  margin-right: 8px;
}
.tel-block {
  float: right;
  font-family: 'vantgardegothicc';
}
.tel-block-mob {
  display: none;
}
.main-tel {
  font-size: 26px;
  color: black;
  margin-bottom: 16px;
}
.telephones {
  font-size: 20px;
  text-align: right;
}

/*----------------------------------------------------
HEADER-NAVIGATION
------------------------------------------------------
*/

.header-nav {
  background: #3868a7;
  padding: 20px 0 15px 0;
}
.header-nav ul {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.header-nav li:last-child {
  margin: 0;
}
.header-nav li {
  display: inline;
  font-size: 18px;
  margin-right: 4%;
}

/*----------------------------------------------------
HEADER-MOBILE
------------------------------------------------------
*/

@media (max-width: 992px) {
  header {
    background: #efefef 0 0 repeat;
  }
  .header-content-mob {
    display: block;
  }
  .logo-mob {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .logo-mob img {
    width: 125px;
  }
  .tel-block-mob {
    display: block;
    margin-top: 15px;
  }
  .tel-block-mob a {
    display: block;
    margin-bottom: 7px;
    padding-left: 20px;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    color: #6c7279;
  }
  .tel-block-col {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .phone-ico span {
    position: relative;
  }
  .phone-ico span:before {
    display: block;
    content: '';
    background: url(../images/icon_phone.png) 0 0 no-repeat;
    width: 23px;
    height: 24px;
    position: absolute;
    top: -3px;
    left: -73px;
  }
  .header-content, .header-nav {
    display: none;
  }
}

/*----------------------------------------------------
                    EVENTS-SECTION
------------------------------------------------------
*/

.events {
  width: 95%;
  margin: 20px 0 0 20px;
}
.event {
  background: #EBF0F6;
  border: 1px #08B0F0 solid;
  position: relative;
  width: 100%;
  margin: 20px auto;
}
.event-name a {
  color: #0180C2;
  font-size: 1.2rem;
}
.doctor-name {
  font-weight: normal;
  font-size: 1.3rem;
  margin: 40px 0;
}
.cost {
  margin: 40px 0;
  font-size: 1.3rem;
}
.event-date {
  background: #EBF0F6;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  padding: 8px 13px;
  position: absolute;
  top: -5px;
  left: -15px;
}
.event-day {
  font-size: 1.8rem;
  font-weight: 700;
}
.event-info {
  width: 100%;
  margin-bottom: 10px;
}
  .event-info a:hover {
    text-decoration: none;
  }
  .schedule {
    float: left;
  }
  .print-events {
    float: right;
  }
    .schedule a, .print-events a {
      color: #046C97;
      font-size: 1.3rem;
      text-decoration: underline;
    }
  .schedule:before, .print-events:before {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    content: '';
    position: relative;
    top: 5px;
    left: 0;
  }
  .schedule:before {
    background: url(../images/calendar.png) no-repeat;
  }
  .print-events:before {
    background: url(../images/print.png) no-repeat;
  }
.events-expand {
  width: 100%;
  background: #08B0EF;
  height: 35px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.07rem;
}
  .events-expand span {
    display: block;
    padding-top: 7px;
  }
  .expand-ico {
    width: 20px;
  }
  .turn {
    display: none;
  }
  .expand-ico.turn {
    transform: rotate(180deg);
  }




/*----------------------------------------------------
                    -------------
                    SIDE-BAR-LEFT
                    -------------
------------------------------------------------------
*/
/*----------------------------------------------------
                    SIDE-BAR-MENU
------------------------------------------------------
*/

.side-bar-nav-block {
  background: #EFEFEF;
  padding-top: 38px;
}
  .side-bar-nav {
    border-bottom: 1px #D3D7DB solid;
    margin-bottom: 10px;
    padding-left: 10px;
  }
    .side-bar-nav li {
      margin-bottom: 20px;
    }
    .side-bar-nav a {
      text-transform: uppercase;
      font-family: 'vantgardegothicc';
      font-weight: 600;
      font-size: 1.2rem;
    }


/*----------------------------------------------------
                    SIDE-BAR-EVENTS-SECTION
------------------------------------------------------
*/
.side-bar-event, .video-block {
  width: 100%;
}
  h5.eventer  {
    background: #08B0F0;
    font-size: 1.4rem;
    text-transform: none;
    text-align: center;
    padding: 5px 0;
  }
  .eventer-spec {
    font-weight: normal;
    line-height: 2rem;
  }
  .event-cart {
    border: 1px #CFDBF3 solid;

  }
    .event-cart img, .video-block img {
      display: block;
      width: 92%;
      border: 1px #08B0F0 solid;
      margin: 10px auto;
    }



/*----------------------------------------------------
                    SIDE-BAR-VIDEO-BLOCK
------------------------------------------------------
*/



/*----------------------------------------------------
                    MAIN-GRID
------------------------------------------------------
*/
.side-bar-left, .midle-content {
  float: left
}
.side-bar-left {
  width: 20%;
}
.midle-content {
  width: 60%;
}


/*----------------------------------------------------
                    SLIDER
------------------------------------------------------
*/

.slider {
  
}
.slides {
  width: 500px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slides li {
  position: absolute;
  transition: opacity 0.2s;
  
  

}
.slide.showing {
  opacity: 1
}
.slide {
  opacity: 0;
}

#buttonNext, 
#buttonPrev {
  margin: 15px 20px;
  float: left;
  text-align: center;
  color: white;
  width: 60px;
  height: 25px;
  background: #232323;
  cursor: pointer;
}

.point {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #000;
  color: white;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}
.point.selected {
  border: 5px #000 solid;
  background: #fff;
}