{% set up_dir = "../../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
{% set title = "Энерго Пенза - Наши работы. Электроснабжение объектов. Фото" %}
{% set description = "Энерго Пенза предлагает услуги по проектированию и электроснабжению квартир, домов, предприятий. Работаем ежедневно, быстро, качественно." %}
{% set keywords ="Электрик Пенза, услуги, сайт, цена, скачать, электропроводка квартир, домов, электромонтаж" %}
	{% block content %}
	<section class="content">
		<h2>Наши работы</h2>
		<div class="gallery">
			<div class="gallery__list">
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_001_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_001_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_002_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_002_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_003_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_003_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_004_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_004_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_005_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_005_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_006_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_006_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_007_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_007_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_008_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_008_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_009_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_009_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_010_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_010_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_011_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_011_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_012_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_012_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_013_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_013_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_014_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_014_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_015_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_015_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_016_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_016_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_017_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_017_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_018_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_018_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_019_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_019_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_020_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_020_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_021_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_021_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_022_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_022_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_023_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_023_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_024_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_024_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_025_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_025_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_026_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_026_s.jpg"></a>
					</div>
				</div>
				<div class="gallery__item">
					<div class="gallery-item">
						<a href="{{up_dir}}/images/uploads/IMG_027_b.jpg"><img src="{{up_dir}}/images/uploads/IMG_027_s.jpg"></a>
					</div>
				</div>
			</div>
		</div>
	</section>


</section>

{% endblock %}