{% set up_dir = "../../" %}
{% set bodyClass = "pages" %}
{% extends "layouts/_layout.html" %}
{% set title = "Энерго Пенза - Наши работы. Электроснабжение объектов." %}
{% set description ="Энерго Пенза предлагает услуги по проектированию и электроснабжению квартир, домов, предприятий. Работаем ежедневно, быстро, качественно." %}
{% set keywords ="Электрик Пенза, услуги, сайт, цена, скачать, электропроводка квартир, домов, электромонтаж" %}
	{% block content %}
	<section class="no-work">
		<a name="services"></a>
		<h2 class="no-work">Даный раздел сайта находится в разработке</h2>
	</section>


</section>

{% endblock %}